<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartYard.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
				<key>dateExpires</key>
				<string>11.11.2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cartography.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OnlineChatSdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PMNibLinkableView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PinLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PopOverDatePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SHSPhoneComponent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SSCustomTabbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SearchTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SmartYardSharedDataFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TouchAreaInsets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XCoordinator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bctoolbox-ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bctoolbox-tester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bctoolbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>belcard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>belle-sip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>belr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>lime.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>limetester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>linphone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>linphonesw.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>linphonetester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mediastreamer2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>msamr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mscodec2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>msopenh264.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mssilk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mswebrtc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>msx264.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ortp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4XDBUB87Z8.ru.lanta-net.smartyard.NotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>4XDBUB87Z8</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>4XDBUB87Z8.ru.lanta-net.smartyard.NotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>676daa5e-c430-451e-a932-bf13ab16218d</string>
						<key>name</key>
						<string>match AdHoc ru.lanta-net.smartyard.NotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2671FF4E2D889B353F8AE04B589A1126634D75D0</string>
						<key>dateExpires</key>
						<string>11.11.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4XDBUB87Z8.ru.lanta-net.smartyard.widget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>4XDBUB87Z8</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.ru.lanta-net.smartyard.widget</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SmartYardWidget.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ab09ac9f-9256-466c-8e25-c29f0ea8b6ed</string>
						<key>name</key>
						<string>match AdHoc ru.lanta-net.smartyard.widget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XDBUB87Z8</string>
						<key>name</key>
						<string>LANTA, LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4XDBUB87Z8.ru.lanta-net.smartyard</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:demo.lanta.me</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.ru.lanta-net.pays</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4XDBUB87Z8</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.ru.lanta-net.smartyard.widget</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SmartYard.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fa7f7e8c-a7af-4cbc-990e-fe6b4c6312df</string>
				<key>name</key>
				<string>match AdHoc ru.lanta-net.smartyard</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4XDBUB87Z8</string>
				<key>name</key>
				<string>LANTA, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
