<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978817004542-qmli1k2vuhrg2qnrdjibgomej6m3h7f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978817004542-qmli1k2vuhrg2qnrdjibgomej6m3h7f5</string>
	<key>API_KEY</key>
	<string>AIzaSyDRX8J1bN2zE_5TCXdH9qCJeVMSyrnuOpo</string>
	<key>GCM_SENDER_ID</key>
	<string>978817004542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.madbrains.smartyard</string>
	<key>PROJECT_ID</key>
	<string>smart-yard</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-yard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978817004542:ios:4da48f7a70a8a0f8e986af</string>
	<key>DATABASE_URL</key>
	<string>https://smart-yard.firebaseio.com</string>
</dict>
</plist>