<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Теледом</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bank100000000111</string>
		<string>bank100000000004</string>
		<string>bank110000000005</string>
		<string>bank100000000008</string>
		<string>bank100000000007</string>
		<string>bank100000000015</string>
		<string>bank100000000001</string>
		<string>bank100000000010</string>
		<string>bank100000000013</string>
		<string>bank100000000012</string>
		<string>bank100000000020</string>
		<string>bank100000000025</string>
		<string>bank100000000030</string>
		<string>bank100000000003</string>
		<string>bank100000000043</string>
		<string>bank100000000028</string>
		<string>bank100000000086</string>
		<string>bank100000000011</string>
		<string>bank100000000044</string>
		<string>bank100000000049</string>
		<string>bank100000000095</string>
		<string>bank100000000900</string>
		<string>bank100000000056</string>
		<string>bank100000000053</string>
		<string>bank100000000121</string>
		<string>bank100000000082</string>
		<string>bank100000000127</string>
		<string>bank100000000017</string>
		<string>bank100000000087</string>
		<string>bank100000000052</string>
		<string>bank100000000006</string>
		<string>bank100000000098</string>
		<string>bank100000000092</string>
		<string>bank100000000229</string>
		<string>bank100000000027</string>
		<string>bank100000000080</string>
		<string>bank100000000122</string>
		<string>bank100000000124</string>
		<string>bank100000000118</string>
		<string>bank100000000159</string>
		<string>bank100000000146</string>
		<string>bank100000000069</string>
		<string>bank100000000140</string>
		<string>bank100000000047</string>
		<string>bank100000000099</string>
		<string>bank100000000135</string>
		<string>bank100000000139</string>
		<string>bank100000000166</string>
		<string>bank100000000172</string>
		<string>bank100000000187</string>
		<string>bank100000000022</string>
		<string>bank100000000029</string>
		<string>bank100000000050</string>
		<string>bank100000000177</string>
		<string>bank100000000084</string>
		<string>bank100000000088</string>
		<string>bank100000000126</string>
		<string>bank100000000173</string>
		<string>bank100000000152</string>
		<string>bank100000000201</string>
		<string>bank100000000034</string>
		<string>bank100000000094</string>
		<string>bank100000000235</string>
		<string>bank100000000134</string>
		<string>bank100000000091</string>
		<string>bank100000000258</string>
		<string>bank100000000153</string>
		<string>bank100000000016</string>
		<string>bank100000000014</string>
		<string>bank100000000083</string>
		<string>bank100000000170</string>
		<string>bank100000000037</string>
		<string>bank100000000215</string>
		<string>bank100000000142</string>
		<string>bank100000000243</string>
		<string>bank100000000090</string>
		<string>bank100000000171</string>
		<string>bank100000000064</string>
		<string>bank100000000093</string>
		<string>bank100000000253</string>
		<string>bank100000000193</string>
		<string>bank100000000158</string>
		<string>bank100000000174</string>
		<string>bank100000000183</string>
		<string>bank100000000106</string>
		<string>bank100000000115</string>
		<string>bank100000000062</string>
		<string>bank100000000058</string>
		<string>bank100000000195</string>
		<string>bank100000000206</string>
		<string>bank100000000203</string>
		<string>bank100000000081</string>
		<string>bank100000000230</string>
		<string>bank100000000211</string>
		<string>bank100000000107</string>
		<string>bank100000000185</string>
		<string>bank100000000113</string>
		<string>bank100000000248</string>
		<string>bank100000000151</string>
		<string>bank100000000129</string>
		<string>bank100000000208</string>
		<string>bank100000000182</string>
		<string>bank100000000189</string>
		<string>bank100000000202</string>
		<string>bank100000000213</string>
		<string>bank100000000071</string>
		<string>bank100000000066</string>
		<string>bank100000000154</string>
		<string>bank100000000194</string>
		<string>bank100000000232</string>
		<string>bank100000000105</string>
		<string>bank100000000136</string>
		<string>bank100000000191</string>
		<string>bank100000000197</string>
		<string>bank100000000205</string>
		<string>bank100000000059</string>
		<string>bank100000000070</string>
		<string>bank100000000112</string>
		<string>bank100000000223</string>
		<string>bank100000000148</string>
		<string>bank100000000199</string>
		<string>bank100000000045</string>
		<string>bank100000000217</string>
		<string>bank100000000169</string>
		<string>bank100000000227</string>
		<string>bank100000000125</string>
		<string>bank100000000176</string>
		<string>bank100000000144</string>
		<string>bank100000000128</string>
		<string>bank100000000181</string>
		<string>bank100000000026</string>
		<string>bank100000000078</string>
		<string>bank100000000165</string>
		<string>bank100000000031</string>
		<string>bank100000000226</string>
		<string>bank100000000236</string>
		<string>bank100000000103</string>
		<string>bank100000000175</string>
		<string>bank100000000018</string>
		<string>bank100000000212</string>
		<string>bank100000000024</string>
		<string>bank100000000032</string>
		<string>bank100000000225</string>
		<string>bank100000000272</string>
		<string>bank100000000219</string>
		<string>bank100000000184</string>
		<string>bank100000000110</string>
		<string>bank100000000180</string>
		<string>bank100000000222</string>
		<string>bank100000000233</string>
		<string>bank100000000138</string>
		<string>bank100000000133</string>
		<string>bank100000000245</string>
		<string>bank100000000270</string>
		<string>bank100000000216</string>
		<string>bank100000000042</string>
		<string>bank100000000067</string>
		<string>bank100000000192</string>
		<string>bank100000000041</string>
		<string>bank100000000200</string>
		<string>bank100000000167</string>
		<string>bank100000000150</string>
		<string>bank100000000260</string>
		<string>bank100000000161</string>
		<string>bank100000000234</string>
		<string>bank100000000250</string>
		<string>bank100000000149</string>
		<string>bank100000000278</string>
		<string>bank100000000247</string>
		<string>bank100000000228</string>
		<string>bank100000000196</string>
		<string>bank100000000096</string>
		<string>bank100000000102</string>
		<string>bank100000000160</string>
		<string>bank100000000231</string>
		<string>bank100000000163</string>
		<string>bank100000000040</string>
		<string>bank100000000284</string>
		<string>bank100000000266</string>
		<string>bank100000000046</string>
		<string>bank100000000117</string>
		<string>bank100000000265</string>
		<string>bank100000000273</string>
		<string>bank100000000137</string>
		<string>bank100000000282</string>
		<string>bank100000000296</string>
		<string>bank100000000286</string>
		<string>bank100000000293</string>
		<string>bank100000000288</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Доступ к камере нужен для возможности сканирования QR-кодов</string>
	<key>NSContactsUsageDescription</key>
	<string>Доступ к списку контактов нужен для отображения имен и фотографий людей, на чьи номера выделен доступ к адресу</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Доступ к местоположению позволит отобразить Вашу позицию на карте</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Доступ к местоположению позволит отобразить Вашу позицию на карте</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Доступ к микрофону нужен для передачи звука во время звонка</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SYOpenDoorIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
